<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives: Demonstrate what we have learned from the Hands-on labs with Jupyter Notebook. From Tables to lists, I am applying my knowledge to use.**
- Ordered List
- List in order the Tools of Data Science
- List in order the Libraries used in Data Science 
- Arithmetic in a Code cell
- Creating a Table of Data Sience Tools.

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries by Data Scientists include:
1. Matplotlib
2. Pandas
3. Numpy
4. Pytorch
5. Tensorfow

| Data Science Tools|
| ------------------|
| Tableau |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4)+5
# This is a simple arthimetic expression to multiply then add integers.

17

In [3]:
200/60
# This will convert 200 minutes to hours by dividing by 60.

3.3333333333333335

## Author
I prefer not to give my real name so I will go by Zach.